* {
    font-family: 'Work Sans', sans-serif;
}

body {
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    padding: 0 25px;
}

.header {
    background: rgba(255, 144, 14, 0.1);
    padding: 25px 120px 25px 120px;


}

.nav-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #131313;
}

nav ul {
    display: flex;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    color: #424242;
}

nav li {
    list-style: none;
    margin-left: 50px;
}



.banner-title {
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    color: #131313;
}

.banner-paragraph {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #727272;
}

.btn-primary {
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    margin-left: 450px;
    margin-top: 15px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px;
    border: none;
}

.banner-image {
    border-radius: 8px;
    margin-top: 40px;
}

/*....-------list section--*/
.list-section {
    display: flex;
    margin: 50px 150px 70px 170px;
}

.list-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 8px;
    gap: 15px;

}

.quick-details {
    margin-left: 50px;
    margin-top: 125px;
}

.sub-title {
    color: rgba(114, 114, 114, 1);
    font-weight: 500;
    font-size: 40px;
}

.sub-title-1 {
    color: rgba(19, 19, 19, 1);
}

.sub-title-2 {
    color: rgba(255, 144, 14, 1);
}

.paragraph-main {
    font-weight: 400;
    font-size: 13px;
    text-align: start;
    color: #727272;
}

.btn-secondary {
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px;
    border: none;
}

/*--features love and enjoy--version..section---*/
.feature-section {
    display: flex;
    padding: 25px 120px 25px 120px;
}

.features {
    margin-right: 30px;
}

.feature-title {
    font-weight: 700;
    font-size: 38px;
    color: #131313;
    margin-right: 80px;
    border-left: 5px solid #FF900E;
    ;
    padding-left: 7px;

}

.feature-paragraph {
    font-weight: 400;
    font-size: 13px;
    color: #727272;
    margin-right: 30px;

}

.feature-sub-title {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}

.feature {
    font-weight: 600;
    font-size: 15px;
    color: #131313;
    margin-bottom: 8px;


}

.image-women {
    border-radius: 8px;
    margin-left: 60px;
}

.btn-experience {
    width: 190px;
    height: 100px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
    border: none;
    position: relative;
    bottom: 60px;
    right: 0px;

}

.year {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

/*----fact parts----*/
.facts {
    padding: 25px 120px 25px 120px;
}

.fact-title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 38px;
    color: #131313;
    margin-right: 100px;
}

.fact-paragraph {
    font-weight: 400;
    font-size: 13px;
    color: #727272;
    margin-right: 520px;
    padding-top: 0;
    margin-bottom: 70px;
}

/*----award sections and client related---*/
.award-section {
    display: flex;
    justify-content: space-around;
}

.awards {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 200px;
    transition: background-color 2s ease-out 100ms;
}

.awards:hover {
    background-color: #FF1493;
}

.awards img {
    text-align: center;
    padding-left: 75px;
    padding-top: 15px;
}

.numbers {
    font-weight: 600;
    font-size: 30px;
    color: #424242;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.award-title {
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: #727272;
    margin-top: 5px;
}

/*--footer parts start from here--*/
.footer {
    padding: 50px 120px 50px 120px;
}



.footer-title {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    color: #131313;
    margin-left: 400px;
    margin-bottom: 20px;

}

.footer-paragraph {
    font-weight: 400;
    font-size: 13px;
    color: #727272;
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: 290px;
    margin-right: 220px;
    text-align: center;
}

.sponsor-name {
    display: flex;
    justify-content: space-between;
}

.sponsor-image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-bottom: 60px;
}

.member-section {
    display: flex;
    gap: 30px;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.icon-image {
    display: flex;
}

.member-image {
    display: flex;
}

.member {
    margin-right: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.member-title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #131313;
    margin-bottom: 30px;

}

.copy-right {
    background: #FFF4E7;
    border-radius: 8px;
    padding: 20px;
    text-align: center;

    font-weight: 400;
    font-size: 12px;
    color: #424242;

}


/*----Responsive design for mobile only---*/

@media only screen and (max-width:576px) {
    .header {
        padding-left: 7em;
        padding-right: 7em;
    }

    .nav-details {
        flex-direction: column;
        text-align: center;

    }

    .nav-title {
        font-size: 25px;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        padding-left: 0;

    }

    nav li {
        margin-left: 0;
        padding-bottom: 15px;
    }

    .banner-title {
        width: 100%;
        margin: 0;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #131313;
    }

    .banner-paragraph {
        margin: 0;
        margin-top: 2em;
        font-weight: 400;
        font-size: 10px;
        text-align: center;
        color: #727272;
    }

    .btn-primary {

        font-weight: 600;
        font-size: 13px;
        margin-left: 7em;
        margin-right: 7em;

    }

    .banner-image {
        max-width: 100%;
        height: auto;
        margin-top: 2em;
    }

    .list-section {
        flex-direction: column;
        margin: 40px 90px;
        align-items: center;
    }

    .list-image {
        grid-template-columns: repeat(1, 1fr);
    }

    .quick-details {
        margin-left: 0;
        margin-top: 3vh;
    }

    .feature-section {
        flex-direction: column;
        padding: 50px 50px 0 50px;

    }

    .image-women {
        max-width: 90%;
        height: auto;
        margin-top: 3em;
        margin-left: 0;
    }

    .facts {
        padding: 2em;
    }

    .fact-details {
        margin-left: 1em;
    }

    .fact-paragraph {
        margin-right: 1em;
    }

    .award-section {
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }

    .footer {
        padding: 3em;

    }

    .footer-title {
        margin-left: 3vw;
    }

    .footer-paragraph {
        margin: 2vw;
    }

    .sponsor-name {

        flex-direction: column;
        align-items: center;
        width: 75%;

    }

    .sponsor-image {
        margin-top: 2vh;
    }

    .member-title {
        align-items: center;
    }

    .member-image {
        width: 100%;
    }

    .member-section,
    .member-image,
    .icon-image {
        flex-direction: column;

    }
}